{% extends 'bases/base.html' %}

{% block headerwords%}
    <h3 id="gamestr">{{ game }}</h3>
    <div id="newgame">
        <a href="{% url 'gameview' %}" class="button alt" style="float: left">New Normal Game</a>
        <a href="{% url 'gameview'  %}?difficulty=1" class="button alt" style="float: right">New X-treme Game</a>
    </div>
    <div id="game-base">
        <div id="game-table">
        </div>
    </div>
{% endblock %}


{% block boxblock %}
    <p id="moves_so_far"></p>
    <h3>Stats for {{ request.user.first_name }}</h3>
    <p>Games Won: {{ gameswon }} <br />
    Games Lost: {{ gameslost }}  <br />
    Games in Progress: {{ gamesinprogress }}</p>
{% endblock %}

{% block scriptblock %}
    <script>

    var game, csrf_token, gameboardjson, gameboard, winner, cpu_move, stalemate, gamestr, moves_so_far;
    var initaldata, currentCol;
    var id = 1;
    var board = document.getElementById("game-table");
    var difficulty = 1;
    board.innerHTML += '<div id="dhuman' + '" class="disc ' + 'red' + '" style=""' + '></div>';



    $(document).ready(function(){
        $.get('/gamedata/{{ game.id }}', function(data){setvals(data)}); // set this to game value
    });

    function setvals(data){
        if (data.status == 'error'){
            return
        }

        game = data.game;
        gamestr = data.gamestr;
        document.getElementById("gamestr").innerHTML = gamestr;
        csrf_token = data.csrf_token;
        gameboardjson = data.gameboard;
        gameboard = JSON.parse(gameboardjson);
        winner = data.winner;
        cpu_move = data.cpu_move;
        stalemate = data.stalemate;
        moves_so_far = data.moves_so_far;
        document.getElementById("moves_so_far").innerHTML = 'Moves so far: ' + moves_so_far;

        render_game_board(gameboard);
    }


    function render_game_board(gameboard){
        // Take the existing game board and put it on the field
        board.innerHTML = "";
        if (!winner) {
            board.innerHTML += '<div id="dhuman' + '" class="disc ' + 'red' + '" style=""' + '></div>';
        }
        for (row=5; row >= 0; row-- ) {
            for (col=6; col >= 0; col--) {
                player = this.gameboard[row][col];
                if (player){
                    piece = make_game_piece_div(player, row, col);
                }
            }
        }
    };

    function make_game_piece_div(player, row, col){
        var color = player == 1 ? 'red' : 'yellow';
        var newpeice= '<div id="d' + id + '" class="disc ' + color + '" style=""' + '></div>';
        board.innerHTML += newpeice;
         document.getElementById('d'+id).style.top = get_row_px(row)+'px';
         document.getElementById('d'+id).style.left = get_col_px(col)+"px";
        id += 1;
    };

    document.onmousemove = function(evt){
        if (!winner) {
            currentCol = Math.floor((evt.clientX - board.offsetLeft)/60);
            if(currentCol<0){currentCol=0;}
            if(currentCol>6){currentCol=6;}
            document.getElementById('dhuman').style.left = get_col_px(currentCol)+"px";
            document.getElementById('dhuman').style.top = "-55px";
        } else {
            if (document.contains(document.getElementById("dhuman"))) {
            document.getElementById("dhuman").remove();}
        }
  };


    function post_player_move(col){
        // dont send the request if there is already a winner
        if (winner) {
            return
        }
        // take player move and send it to the server
        data = {};
        data.csrfmiddlewaretoken = csrf_token;
        data.move = col;
        data.game = game;
        data.difficulty = difficulty;
        $.post('/gamedata',data, function(data){setvals(data)})
    }


    function possibleColumns(){
      var moves_array = new Array();
      for(var i=0; i<7; i++){
            if(gameboard[0][i] == 0){
                  moves_array.push(i);
            }
      }
      return moves_array;
    }

    document.onclick = function(evt){
      if(possibleColumns().indexOf(currentCol) != -1){
          post_player_move(currentCol)
      }
    };

    function bottom_most_row_available(col) {
        if (board[0][col] != 0) {
            return -1;  // column is full is full
        }
        currow = board.length;
        while (board[currow][col] != 0 && currow > 0){
            currow--;
        }
        return currow
    }

    function get_row_px(row){
        return 14+row*60
    }

    function get_col_px(col){
        return 14+60*col
    }

    </script>
        {% endblock %}


