{% extends 'bases/base.html' %}
{% block headerwords %}
    <h3>My Games</h3>
{% endblock %}

{% block boxblock %}
    {% if not object_list %}
        <h3>No Games Yet! Click to Get Started With Connect 4-Xtreme</h3>
    {% endif %}
    <ol>
        {% for game in object_list %}
        <li><a href="{% url 'gameviewpk' game_pk=game.id %}">{{ game }}</a></li>
        {% endfor %}
    </ol>

    <a href="{% url 'gameview' %}" class="button alt" style="align-content: center">New game</a>
{% endblock %}