{% extends 'bases/base.html' %}
{% load static %}

{% block headerwords %}
    <h3>Account Create</h3>
    <image src="{% static  'assets/images/firepiece.png' %}" style="width: 80px; height: 80px"></image>
{% endblock %}

{% block boxblock %}

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create" />
    <a href="{% url 'login' %}" class="button alt" style="float: right">I Already Have an Account</a>
    <p style="float: right; padding-right: 5px">(Already a Connect 4 X-treme User?)</p>
</form>

{% endblock %}